body {
  font-family: "Bradley Hand", cursive;
  background-color: #f8f6ed;
  color: #333;
  margin: 0;
  padding: 0;
}

.page-content {
  margin-left: 200px; /* عرض الـ Navbar الجانبي */
  padding: 20px 30px;
  min-height: 100vh; /* عشان يغطي كامل الارتفاع */
  box-sizing: border-box;
  background-color: #f8f6ed;
}

h1.header-search {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
  color: #407651;
  text-shadow: 1px 2px 2px #121212;
}

.homepage-navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  gap: 30px; /* مسافة بين الكروت */
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: center;
}

li {
  background-color: white;
  width: 100%;
  max-width: 240px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

li:hover {
  transform: scale(1.05);
}

li img {
  width: 100%;
  height: auto;
  max-width: 180px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #777;
  margin-top: 20px;
}
.search-bar-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

.search-input {
  padding: 12px 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 350px;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.search-button {
  padding: 12px 20px;
  border-radius: 18px;
  border: none;
  background-color: #6e9d7c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-family: "Segoe UI", sans-serif;
  margin: 8px 2px;
}

.search-button:hover {
  transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .page-content {
    margin-left: 0; /* لإزالة الهامش في الشاشات الصغيرة */
    padding: 10px 15px;
  }
  h1.header-search {
    font-size: 1.8em;
  }

  form {
    width: 90%;
    flex-direction: column;
  }

  input[type="text"],
  button {
    width: 100%;
    margin: 5px 0;
  }

  ul {
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  li {
    max-width: 100%;
  }

  li img {
    max-width: 140px;
  }
}

@media (max-width: 500px) {
  h1.header-search {
    font-size: 1.5em;
    margin: 15px 0;
  }

  ul {
    gap: 10px;
    grid-template-columns: 1fr;
    max-width: 100%;
  }

  li {
    max-width: 90%;
  }

  li img {
    max-width: 100px;
  }
}
