li.recipe-card {
  list-style-type: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; /* لجعل الكرت يبدو قابل للنقر */
}

li.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#h3_details {
  font-size: 1.2rem;
  color: #4a7c59;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  max-width: 280px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

button.details {
  background-color: #6e9d7c;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
  margin-top: 10px;
}


button.details:hover {
  background-color: #5a8568;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 2;
}

.heart-icon:hover {
  transform: scale(1.1);
}

.favorited {
  color: red;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f6ed;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
